.container {
  max-width: 1200px;
  padding: 0px 100px;
  margin: auto;
}

.sec1 {
  width: 100%;
  height: 35px;
  position: fixed;
  color: black;
}
.sec1 .sec2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.sec1 .icon {
  width: 250px;
}
.sec1 .icon ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sec1 .icon ul li {
  font-size: 13px;
  color: white;
}
.sec1 .number {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.sec1 .number ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sec1 .number ul li {
  font-size: 14px;
}
.sec1 .number ul li a {
  text-decoration: none;
  color: white;
}

.sect4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.sect4 .logo {
  width: 250px;
}
.sect4 .menu {
  width: 500px;
  height: 50px;
}
.sect4 .menu ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sect4 .menu ul li {
  font-size: 15px;
}
.sect4 .menu ul li a {
  text-decoration: none;
  color: white;
}

.sect5 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://preview.colorlib.com/theme/security/img/header-bg.jpg.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect5 h1 {
  font-size: 15px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
.sect5 h2 {
  font-size: 50px;
  color: white;
  margin-top: 0;
}
.sect5 .text1 {
  font-size: 20px;
  color: white;
}
.sect5 .btn {
  color: white;
  background-color: goldenrod;
  border: 1px solid goldenrod;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  width: 140px;
  height: 40px;
}
.sect5 .btn:hover {
  background-color: transparent;
}

.sec7 {
  width: 100%;
}
.sec7 .sec8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.sec7 .basliq {
  margin-top: 20px;
  width: 400px;
}
.sec7 h3 {
  font-size: 30px;
  color: #222222;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: 600;
}
.sec7 .text2 {
  font-size: 15px;
  margin-top: 0;
  color: gray;
  text-align: center;
}
.sec7 .sekil {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.sec7 .sekil .fff {
  margin-top: 10px;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sec7 .sekil .picture {
  width: 250px;
  height: 130px;
  background: url(https://preview.colorlib.com/theme/security/img/s1.jpg.webp) center;
  background-size: cover;
}
.sec7 .sekil .text3 {
  width: 250px;
  height: 150px;
}
.sec7 .sekil .text3 h3 {
  font-size: 15px;
  text-align: center;
}
.sec7 .sekil .text3 a {
  text-decoration: none;
  color: black;
}
.sec7 .sekil .text3 .text4 {
  font-size: 15px;
  margin-top: 0;
  color: rgb(90, 89, 89);
}
.sec7 .sekil .text3 .btn2 {
  width: 90px;
  height: 20px;
}
.sec7 .sekil .text3 .btn3 {
  width: 90px;
  height: 20px;
}
.sec7 .sekil .picture1 {
  width: 250px;
  height: 130px;
  background: url(https://preview.colorlib.com/theme/security/img/s2.jpg.webp) center;
  background-size: cover;
}
.sec7 .sekil .picture2 {
  width: 250px;
  height: 130px;
  background: url(https://preview.colorlib.com/theme/security/img/s3.jpg.webp) center;
  background-size: cover;
}
.sec7 .sekil :hover {
  background-color: goldenrod;
}

.sect9 {
  width: 100%;
}
.sect9 .sect10 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.sect9 .sect10 .basliq2 {
  width: 420px;
}
.sect9 .sect10 .basliq2 h3 {
  font-size: 20px;
  color: #222222;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 600;
}
.sect9 .sect10 .basliq2 .text2 {
  font-size: 15px;
  margin-top: 0;
  color: gray;
  text-align: center;
}
.sect9 .sect10 .details {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.sect9 .sect10 .details .detailss {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.sect9 .sect10 .details .detailss:hover {
  background-color: goldenrod;
}
.sect9 .sect10 .details .detailss .hhh h3 {
  font-size: 20px;
  color: black;
}
.sect9 .sect10 .details .detailss .hhh .text4 {
  color: gray;
  font-weight: 600;
}

.sec11 {
  width: 100%;
  height: 700px;
  background-color: hotpink;
}
.sec11 .sec12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.sec11 .sec12 .basliq2 {
  width: 460px;
  background-color: aqua;
}
.sec11 .sec12 .basliq2 h3 {
  font-size: 25px;
  color: #222222;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 600;
}
.sec11 .sec12 .basliq2 .text2 {
  font-size: 18px;
  margin-top: 0;
  color: gray;
  text-align: center;
}
.sec11 .sec12 .details2 {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: yellow;
  gap: 20px;
}
.sec11 .sec12 .details2 .detailss2 {
  width: 250px;
  height: 380px;
  background-color: beige;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sec11 .sec12 .details2 .detailss2 .picture3 {
  width: 250px;
  height: 130px;
  background: url(https://preview.colorlib.com/theme/security/img/b1.jpg.webp) center;
  background-size: cover;
}
.sec11 .sec12 .details2 .detailss2 .text5 {
  width: 250px;
  height: 240px;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sec11 .sec12 .details2 .detailss2 .text5 .blok {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: black;
}
.sec11 .sec12 .details2 .detailss2 .text5 .blok .data {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 100;
}
.sec11 .sec12 .details2 .detailss2 .text5 .text6 {
  width: 250px;
  height: 140px;
  background-color: darkmagenta;
}
.sec11 .sec12 .details2 .detailss2 .text5 .text6 h3 {
  font-size: 18px;
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 800;
}
.sec11 .sec12 .details2 .detailss2 .text5 .text6 a {
  text-decoration: none;
}
.sec11 .sec12 .details2 .detailss2 .text5 .text6 .text4 {
  font-size: 15px;
  margin-top: 0;
  color: rgb(90, 89, 89);
}
.sec11 .sec12 .details2 .detailss2 .text5 .text7 {
  width: 250px;
  height: 30px;
  background-color: darkgreen;
  color: grey;
}
.sec11 .sec12 .detailss3 {
  width: 250px;
  height: 380px;
  background-color: beige;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sec11 .sec12 .detailss3 .picture4 {
  width: 250px;
  height: 130px;
  background: url(https://preview.colorlib.com/theme/security/img/b2.jpg.webp) center;
  background-size: cover;
}
.sec11 .sec12 .detailss3 .text5 {
  width: 250px;
  height: 240px;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sec11 .sec12 .detailss3 .text5 .blok {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: black;
}
.sec11 .sec12 .detailss3 .text5 .blok .data {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 100;
}
.sec11 .sec12 .detailss3 .text5 .text6 {
  width: 250px;
  height: 140px;
  background-color: darkmagenta;
}
.sec11 .sec12 .detailss3 .text5 .text6 h3 {
  font-size: 18px;
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 800;
}
.sec11 .sec12 .detailss3 .text5 .text6 a {
  text-decoration: none;
}
.sec11 .sec12 .detailss3 .text5 .text6 .text4 {
  font-size: 15px;
  margin-top: 0;
  color: rgb(90, 89, 89);
}
.sec11 .sec12 .detailss3 .text5 .text7 {
  width: 250px;
  height: 30px;
  background-color: darkgreen;
  color: grey;
}
.sec11 .sec12 .detailss4 {
  width: 250px;
  height: 380px;
  background-color: beige;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sec11 .sec12 .detailss4 .picture5 {
  width: 250px;
  height: 130px;
  background: url(https://preview.colorlib.com/theme/security/img/b3.jpg.webp) center;
  background-size: cover;
}

.bi-list {
  display: none;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 968px) {
  .sect4 .menu {
    display: none;
  }
  .bi-list {
    display: block;
  }
  .sekil {
    flex-direction: column;
  }
  .fff {
    text-align: center;
  }
  .sect9 .container .details {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style.css.map */